html {
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: arial, helvetica, sans-serif;
  height: 100%;
  margin: 0;
  background-color: #FFFFFF;
  margin-bottom: 10rem;
}

header {
  background-color: grey;
  text-align: center;
  padding: 20px 0;
}

div .container {
  background-color: inherit;
  width: 90%;
  margin: 0 auto;
}

div .container header {
  width: 100%;
  margin: 0 auto;
}

div .hero img {
  width: 100%;
}

h2 {
  text-align: center;
  color: grey;
  text-transform: uppercase;
}
