html {
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: arial, helvetica, sans-serif;
  height: 100%;
  margin: 0;
  background-color: #FFFFFF;
  margin-bottom: 10rem;
}

header {
  background-color: black;
  text-align: center;
  padding: 20px 0;
}

div .container {
  background-color: inherit;
  width: 90%;
  margin: 0 auto;
}

div .container header {
  width: 100%;
  margin: 0 auto;
}

div .hero img {
  width: 100%;
}

h2 {
  text-align: center;
  color: grey;
  text-transform: uppercase;
}

.container-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: grey;
}

.container-button .button {
  padding: .5rem 3rem;
  background-color: #ffd742;
  border-radius: 2px;
  color: grey;
  text-transform: uppercase;
}

.container-button .button:hover {
  cursor: pointer;
}
